INPUT_GITHUB_TOKEN="gh_test_token"
INPUT_AUTO_MERGE="true"
INPUT_POST_COMMENT="always"
INPUT_CUSTOM_COMMAND="/fast-forward"
GITHUB_EVENT_PATH="./src/tests/events/pullRequestOpened.json"
GITHUB_ACTION_PATH="https://github.com/LuneiSolei/Fast-Forward-Blossom-Bot"
APP_CLIENT_ID="Iv23li22GqFdcFoH6QGZ"

LOCAL_INCORRECT_EVENT_PATH = "./src/tests/events/incorrect.json"
LOCAL_INVALID_EVENT_PATH = "./src/tests/events/invalid.txt"
LOCAL_ISSUE_COMMENT_CREATED_EVENT_PATH = "./src/tests/events/issueCommentCreated.json"
LOCAL_ISSUE_COMMENT_EDITED_EVENT_PATH = "./src/tests/events/issueCommentEdited.json"
LOCAL_PULL_REQUEST_OPENED_EVENT_PATH = "./src/tests/events/pullRequestOpened.json"

APP_PRIVATE_KEY_PATH=*Path to Private Key here*